.map-container {
    height: 100%;
}

/* Set the height for mobile screens to 40% of the viewport height */
@media (max-width: 1199px) {
    .map-container {
        height: 50vh;
    }
}

@media (min-width: 1199px) {
    .reserve {
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - 120px);
    }
}

